@media (min-width: 660px) {
  .header {
    &__icon {
      display: none;
    }
    &__menu {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 1.4rem;
    }
    &__item {
      margin-left: 1rem;
      text-decoration: none;
      font-weight: 700;
      color: black;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        border-bottom: 1.45px black solid;
      }
    }
  }

  .showcase {
    &__links {
      width: 18rem;
    }
  }


  .projects {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__heading {
      padding: 1.6rem 0 0;
    }
    &__project1 {
      display: grid;
      grid-template-columns: 5% 50% 25% 15% 5%;
      grid-template-rows: repeat(5, 3rem);
    }
    &__project2 {
      display: grid;
      grid-template-columns: 5% 50% 25% 15% 5%;
      grid-template-rows: repeat(5, 3rem);
      margin-bottom: 2rem;
    }
    &__images {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1fr; 
      flex-direction: row;
      grid-column: 2 / span 1;
      grid-row: 1 / span 5;
    }
    &__image:first-child {
      width: 95%;
      margin: 0;
      box-shadow: 0 0 12px 4px rgb(214, 214, 214);
      grid-column: 1 /span 1;
      grid-row: 1 / span 1;
      justify-self: center;
      align-self: center;
    }
    &__image:nth-child(2n) {
      width: 68%;
      box-shadow: 0 0 12px 4px rgb(214, 214, 214);
      justify-self: center;
      align-self: center;
      grid-column: 2 /span 1;
      grid-row: 1 / span 1;
    }
    &__image:nth-child(3n) {
         display: none;
      // width: 30%;
      // box-shadow: 0 0 12px 4px rgb(214, 214, 214);
      // align-self: center;
      // justify-self: center;
      // grid-column: 2 /span 1;
      // grid-row: 2 / span 1;
    }
    &__subheading {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
      align-self: end;
      justify-self: center;
      padding-bottom: 0;
    }
    &__links {
      display: flex;
      justify-content: flex-end;
      grid-column: 3 / span 2;
      grid-row: 4 / span 1;
      align-items: center;
    }
    &__link {
      width: 50%;
    }
    &__description {
      grid-column: 3 /span 2;
      grid-row: 3 / span 1;
      justify-self: center;
      align-self: center;
      padding-bottom: 0;
    }
    &__info {
      display: none;
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
      align-self: center;
      margin: 0;
    }
    &__underheading {
      margin-bottom: 0;
    }
  }




.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
  height: 75vh;
  &__heading {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  &__methods {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  &__form {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 75%;
  }
 } 
}