@media (min-width: 660px) {
  .header {
    &__icon {
      display: none;
    }
    &__nav {
      background: rgb(51, 51, 51);
      width: 100vw;
      font-size: 1.1rem;
      &--sticky {
        background: rgba(27, 27, 27, 0.432);
        height: 2rem;
        font-size: 0.8rem;
      }
    }
    &__menu {
      display: flex;
      height: 100%;
      list-style: none;
      justify-content: flex-end;
      align-items: center;
      margin-right: 1.5rem;
    }
    &__item {
      margin-left: 1rem;
      text-decoration: none;
      font-weight: 700;
      color: white;
      &:hover {
        cursor: pointer;
        border-bottom: 1.45px rgb(230, 230, 230) solid;
      }
    }
  }

  .showcase {
    &__links {
      width: 18rem;
    }
    &__link:hover {
        background: rgb(197, 197, 197);
        color: rgb(0, 0, 0);
    }
  }

  .projects {
    // height: 85vh;
    @include flex(column, space-between);
    &__heading {
      padding: 1.6rem 0 0;
    }
    &__project1 {
      display: grid;
      grid-template-columns: 5% 50% 25% 15% 5%;
      grid-template-rows: repeat(5, 3rem);
    }
    &__project2 {
      display: grid;
      grid-template-columns: 5% 50% 25% 15% 5%;
      grid-template-rows: repeat(5, 3rem);
    }
    &__project3 {
      display: grid;
      grid-template-columns: 5% 50% 25% 15% 5%;
      grid-template-rows: repeat(5, 3rem);
    }
    &__images {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1fr; 
      grid-column: 2 / span 1;
      grid-row: 1 / span 5;
    }
    &__image:first-child {
      width: 95%;
      grid-column: 1 /span 1;
      grid-row: 1 / span 1;
      justify-self: center;
      align-self: center;
    }
    &__image:nth-child(2n) {
      width: 68%;
      justify-self: center;
      align-self: center;
      grid-column: 2 /span 1;
      grid-row: 1 / span 1;
    }
    &__image:nth-child(3n) {
         display: none;
    }
    &__subheading {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
      align-self: end;
      justify-self: center;
      padding-bottom: 0;
    }
    &__links {
      @include flex(row, flex-end);
      grid-column: 3 / span 2;
      grid-row: 4 / span 1;
      align-items: center;
    }
    &__link {
      width: 50%;
      &:hover {
        background: rgb(197, 197, 197);
        color: rgb(0, 0, 0);
      }
    }
    &__description {
      grid-column: 3 /span 2;
      grid-row: 3 / span 1;
      justify-self: center;
      align-self: center;
      padding-bottom: 0;
    }
    &__info {
      display: none;
    }
  }

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
  height: 75vh;
  &__heading {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  &__methods {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  &__form {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 75%;
  }
  &__listIcon:hover {
    color: rgb(28, 133, 24);
  }
  &__btn:hover {
    background: rgb(197, 197, 197);
    color: rgb(0, 0, 0);
    cursor: pointer;
  } 
 }
}