.projects {
  @include flex(column, center);
  align-items: center;
  background: $light-color;

  &__project1 {
    width: 70vw;
  }
  &__project2 {
    width: 70vw;
  }
  &__project3 {
    width: 70vw;
  }
  &__heading {
    font-size: $large-heading;
    padding: 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__subheading {
    font-size: $medium-heading;
    padding-bottom: 1.2rem;
  }
  &__description {
    padding-bottom: 1.2rem;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 1rem;
  }
  &__image:first-child {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    grid-column: 1 / span 7;
    box-shadow: 0 0 12px 4px rgb(214, 214, 214);
  }
  &__links {
    @include flex(row, center);
    margin: 1rem 0;
  }
  &__link {
    text-decoration: none;
    padding: 0.45rem 0.65rem;
    margin: 0.8rem;
    font-size: 0.8rem;
    color: $light-color;
    background: $dark-color;
  }
  &__info {
    @include flex(column, center);
    margin: 1rem 0 4rem 0;
  }
  &__underheading {
    font-size: $small-heading;
    margin-bottom: 1rem;
  }
}