@import "./mixins";
@import "./variables";
@import "./header";
@import "./showcase";
@import "./projects";
@import "./contact";
@import "./about";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0.4px;
  font-family: 'Thasadith', sans-serif;
}


@import "./medium";
@import "./large";
@import "./x-large";
