* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ececec;
  text-align: center;
  letter-spacing: 0.4px;
  background: black;
  font-family: 'Lato', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: black;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
}

.header--sticky {
  background: rgba(211, 211, 211, 0.432);
  width: 100vw;
}

.header__icon {
  margin: 1.5rem 1.3rem;
  color: white;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90vh;
  color: #e7e7e7;
}

.showcase__heading {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 2rem;
}

.showcase__icon {
  font-size: 2rem;
}

.showcase__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  margin: 0 auto;
}

.showcase__link {
  color: white;
  text-decoration: none;
  padding: 1rem;
  border: 1px white solid;
  margin-top: 0.8rem;
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(37, 37, 37, 0.815);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  color: black;
  height: 25vh;
  width: 50vw;
  -ms-flex-item-align: center;
      align-self: center;
}

.modal__close {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: fixed;
  top: 16.2rem;
  left: 16rem;
  font-size: 1.1rem;
}

.modal__list {
  list-style: none;
}

.modal__item {
  padding-top: 0.7rem;
}

.modal__link {
  text-decoration: none;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__heading {
  font-size: 2.1rem;
  padding-top: 1.6rem;
  text-align: right;
  margin-right: 2.5rem;
}

.projects__subheading {
  padding-bottom: 1.2rem;
}

.projects__description {
  padding-bottom: 1.2rem;
}

.projects__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.projects__image:first-child {
  width: 80%;
  margin: 1rem auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.projects__image:nth-child(2n) {
  width: 60%;
  margin: 0 auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.projects__image:nth-child(3n) {
  width: 77%;
  margin: 0 auto;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
}

.projects__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.projects__link {
  text-decoration: none;
  color: white;
  padding: 0 0.65rem;
}

.projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 4rem 0;
}

.projects__underheading {
  margin-bottom: 1rem;
}

.projects__icon {
  font-size: 2rem;
  text-align: center;
}

.projects__break {
  border-bottom: 1px white solid;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 3fr;
      grid-template-rows: 1fr 2fr 3fr;
}

.contact__heading {
  text-align: right;
  margin-right: 2.5rem;
  padding-top: 1rem;
  font-size: 2.1rem;
}

.contact__break {
  border-bottom: 1px white solid;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.contact__methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact__list {
  list-style: none;
}

.contact__listItem {
  padding: 0.5rem 0;
  color: white;
}

.contact__listIcon {
  color: white;
  padding: 0.9rem 0.5rem;
  font-size: 1.4rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 1rem auto;
}

.contact__input {
  padding: 0.3rem;
}

.contact__btn {
  padding: 0.3rem;
  margin: 0.8rem 0;
}

.about {
  height: 80vh;
}

.about__heading {
  font-size: 2.1rem;
  text-align: right;
  margin-right: 2.5rem;
  margin-top: 2.5rem;
}

.about__break {
  border-bottom: 1px white solid;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.about__subheading {
  text-align: center;
  padding-top: 1.2rem;
}

.about__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

.about__logo {
  width: 3rem;
}
/*# sourceMappingURL=style.css.map */