@import "./mixins";
@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0.4px;
  background: b(238, 238, 238);
  font-family: 'Thasadith', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  background: b(238, 238, 238);
  height: 8vh;
  position: fixed;
  top:0;
  right:0;
  &__icon {
    margin: 1.5rem 1.3rem;
    color: rgb(0, 0, 0);
  }
  &__menu {
    display: none;
  }
}

.showcase {
  @include flex(column, space-around);
  height: 100vh;
  color: rgb(2, 2, 2);
  &__heading {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 2rem;
  }
  &__icon {
    font-size: 2rem;
  }
  &__links {
    @include flex(column, center);
    width: 55%;
    margin: 0 auto;
  }
  &__link {
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    text-decoration: none;
    padding: 1rem;
    margin-top: 0.8rem;
  }
  &__arrow {
    font-size: 1.8rem;
  }
}

.modal {
  &__container {
    @include flex(column, center);
    background: rgba(37, 37, 37, 0.815);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  &__menu {
    @include flex(column, center);
    background: rgb(255, 255, 255);
    color: black;
    height: 25vh;
    width: 50vw;
    align-self: center;
    position: relative;
  }
  &__close {
    transform: rotate(45deg);
    position: absolute;
    top: 0.6rem;
    right:1rem;
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
  }
  &__item {
    padding-top: 0.7rem;
  }
  &__link {
    text-decoration: none;
  }
}

.projects {
  @include flex(column, center);
  background: rgb(247, 247, 247);
  &__heading {
    font-size: $large-heading;
    padding: 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__subheading {
    font-size: $medium-heading;
    padding-bottom: 1.2rem;
  }
  &__description {
    padding-bottom: 1.2rem;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
  }
  &__image:first-child {
    width: 75%;
    margin: 0 auto;
    grid-column: 1 / span 7;
    box-shadow: 0 0 12px 4px rgb(214, 214, 214);
  }
  &__image:nth-child(2n) {
    width: 60%;
    grid-column: 1 / span 3;
    box-shadow: 0 0 12px 4px rgb(214, 214, 214);
    justify-self: end;
  }
  &__image:nth-child(3n) {
    width: 70%;
    grid-column: 4 / span 3;
    box-shadow: 0 0 12px 4px rgb(214, 214, 214);
    align-self: center;
    justify-self: end;
  }
  &__links {
    @include flex(row, center);
    margin: 1rem 0;
  }
  &__link {
    text-decoration: none;
    padding: 0.45rem 0.65rem;
    margin: 0.8rem;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
  }
  &__info {
    @include flex(column, center);
    margin: 1rem 0 4rem 0;
  }
  &__underheading {
    font-size: $small-heading;
    margin-bottom: 1rem;
  }
}



.contact {
  display: grid;
  grid-template-rows: 0.5fr 1fr 2fr;
  height: 100vh;
  font-size: 1.25rem;
  &__heading {
    font-size: $large-heading;
    padding: 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__methods {
    @include flex(column, center);
    text-align: center;
  }
  &__list {
    list-style: none;
  }
  &__listItem {
    padding: 0.5rem 0;
    color: rgb(0, 0, 0);
  }
  &__listIcon {
    color: rgb(0, 0, 0);
    padding: 0.9rem 0.5rem;
    font-size: 1.4rem;
  }
  &__form {
    @include flex(column, center);
    width: 72%;
    margin: 1rem auto;
  }
  &__input {
    padding: 0.3rem;
    margin-bottom: 0.4rem;
    border: 0.8px rgb(145, 145, 145) solid;
  }
  &__input::placeholder {
    font-family: 'Lato', sans-serif;
  }
  &__message {
    padding: 0.3rem;
    border: 0.8px rgb(145, 145, 145) solid;
    resize: none;
    margin-bottom: 0.8rem;
  }
  &__message::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
  }
  &__btn {
    padding: 0.3rem;
    margin: 0.8rem 0;
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
    font-family: 'Thasadith', sans-serif;
    border: none;
  }
}

.about {
  min-height: 100vh;
  background: rgb(247, 247, 247);
  &__heading {
    font-size: $large-heading;
    padding: 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__subheading {
    font-size: $medium-heading;
    text-align: center;
    padding-top: 1.6rem;
  }
  &__text {
    padding: 0.6rem 2.5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    &--bold {
      font-weight: 700;
    }
  }
  &__link {
    text-decoration: none;
    padding: 0.45rem 0.65rem;
    color: rgb(255, 255, 255);
    background: rgb(51, 51, 51);
  }
  &__tech {
    @include flex(row, space-around);
    padding: 2rem;
    list-style: none;
    align-items: center;
  }
  &__logo {
    width: 3.5rem;
  }
}

@import "./medium";
@import "./large";
@import "./x-large";
