@import "./mixins";
@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(236, 236, 236);
  text-align: center;
  letter-spacing: 0.4px;
  background: black;
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  background: black;
  height: 10vh;
  position: fixed;
  top:0;
  right:0;
  &--sticky { 
    background: rgba(211, 211, 211, 0.432); 
    width: 100vw;
  }
  &__icon {
    margin: 1.5rem 1.3rem;
    color: white;
  }
}

.showcase {
  @include flex(column, space-around);
  height: 90vh;
  color: rgb(231, 231, 231);
  &__heading {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 2rem;
  }
  &__icon {
    font-size: 2rem;
  }
  &__links {
    @include flex(column, center);
    width: 55%;
    margin: 0 auto;
  }
  &__link {
    color: white;
    text-decoration: none;
    padding: 1rem;
    border: 1px white solid;
    margin-top: 0.8rem;
  }
}

.modal {
  &__container {
    @include flex(column, center);
    background: rgba(37, 37, 37, 0.815);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  &__menu {
    @include flex(column, center);
    background: white;
    color: black;
    height: 25vh;
    width: 50vw;
    align-self: center;
  }
  &__close {
    transform: rotate(45deg);
    position: fixed;
    top:16.2rem;
    left:16rem;
    font-size: 1.1rem;
  }
  &__list {
    list-style: none;
  }
  &__item {
    padding-top: 0.7rem;
  }
  &__link {
    text-decoration: none;
  }
}

.projects {
  @include flex(column, center);
  &__heading {
    font-size: $large-heading;
    padding-top: 1.6rem;
    text-align: right;
    margin-right: 2.5rem;
  }
  &__subheading {
    padding-bottom: 1.2rem;
  }
  &__description {
    padding-bottom: 1.2rem;
  }
  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__image:first-child {
    width: 80%;
    margin: 1rem auto;
    grid-column: 1 / span 6;
  }
  &__image:nth-child(2n) {
    width: 60%;
    margin: 0 auto;
    grid-column: 1 / span 3;
  }
  &__image:nth-child(3n) {
    width: 77%;
    margin: 0 auto;
    grid-column: 4 / span 3;
  }
  &__links {
    @include flex(row, center);
    margin: 1rem 0;
  }
  &__link {
    text-decoration: none;
    color: white;
    padding: 0 0.65rem;
  }
  &__info {
    @include flex(column, center);
    margin: 1rem 0 4rem 0;
  }
  &__underheading {
    margin-bottom: 1rem;
  }
  &__icon {
    font-size: 2rem;
    text-align: center;
  }
  &__break {
    border-bottom: 1px white solid;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.contact {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  &__heading {
    text-align: right;
    margin-right: 2.5rem;
    padding-top: 1rem;
    font-size: $large-heading;
  }
  &__break {
    border-bottom: 1px white solid;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  &__methods {
    @include flex(column, center);
    text-align: center;
  }
  &__list {
    list-style: none;
  }
  &__listItem {
    padding: 0.5rem 0;
    color: white;
  }
  &__listIcon {
    color: white;
    padding: 0.9rem 0.5rem;
    font-size: 1.4rem;
  }
  &__form {
    @include flex(column, center);
    width: 80%;
    margin: 1rem auto;
  }
  &__input {
    padding: 0.3rem;
  }
  &__btn {
    padding: 0.3rem;
    margin: 0.8rem 0;
  }
}

.about {
  height: 80vh;
  &__heading {
    font-size: $large-heading;
    text-align: right;
    margin-right: 2.5rem;
    margin-top: 2.5rem;
  }
  &__break {
    border-bottom: 1px white solid;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  &__subheading {
    text-align: center;
    padding-top: 1.2rem;
  }
  &__tech {
    @include flex(row, space-around);
    padding: 2rem;
  }
  &__logo {
    width: 3rem;
  }
}